.d-block {
    @apply bg-primary-blue text-white;
}
.d-block p {
    @apply text-gray-300;
}

.d-block .d-content {
    @apply p-5 lg:p-8 mt-3;
}

.icon-wrap .curve {
    position: absolute;
    width: 30px;
    height: 30px;
}

.icon-wrap .curve.curve-tl {
    top: 0;
    left: 0;
    transform: translate(-98%, 0);
}

.icon-wrap .curve.curve-tr {
    top: 0;
    right: 0;
    transform: translate(98%, 0) scaleX(-1);
}

.icon-wrap .curve.curve-rb {
    right: 0;
    bottom: 0;
    transform: translate(0, 98%);
}

.icon-wrap .curve.curve-lb {
    left: 0;
    bottom: 0;
    transform: translate(0, 98%) scaleX(-1);
}